In [68]:
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
file_path = ".\\rsc\\mysql\\tv_shows.csv"

tv_shows = pd.read_csv(file_path)

tv_shows.drop(['Netflix'], axis=1, inplace=True)
tv_shows.drop(['Hulu'], axis=1, inplace=True)
tv_shows.drop(['Prime Video'], axis=1, inplace=True)
tv_shows.drop(['Disney+'], axis=1, inplace=True)
tv_shows.drop(['Type'], axis=1, inplace=True)
tv_shows.drop(['Unnamed: 0'], axis=1, inplace=True)
tv_shows.drop(['ID'], axis=1, inplace=True)

In [70]:
tv_shows.head(3)

             Title  Year  Age    IMDb Rotten Tomatoes
0     Breaking Bad  2008  18+  9.4/10         100/100
1  Stranger Things  2016  16+  8.7/10          96/100
2  Attack on Titan  2013  18+  9.0/10          95/100

In [71]:
tv_shows = tv_shows.dropna()

In [72]:
for i in tv_shows.columns:
    null_percent = tv_shows[i].isna().sum()/len(tv_shows) *100
    print("{} null rate: {}%".format(i,round(null_percent,2)))

Title null rate: 0.0%
Year null rate: 0.0%
Age null rate: 0.0%
IMDb null rate: 0.0%
Rotten Tomatoes null rate: 0.0%

In [73]:
tv_shows.head(3)

             Title  Year  Age    IMDb Rotten Tomatoes
0     Breaking Bad  2008  18+  9.4/10         100/100
1  Stranger Things  2016  16+  8.7/10          96/100
2  Attack on Titan  2013  18+  9.0/10          95/100

In [74]:
tv_shows["Age"].unique()

array(['18+', '16+', '7+', 'all', '13+'], dtype=object)

In [75]:
tv_shows['Rotten Tomatoes'] = tv_shows['Rotten Tomatoes'].str.replace('/100', '')

#replace all to 0
tv_shows['Age'] = tv_shows['Age'].str.replace('+', '')
tv_shows['Age'] = tv_shows['Age'].replace('all', '0')
tv_shows['Age'] = tv_shows['Age'].astype(int)

tv_shows['IMDb'] = tv_shows['IMDb'].str.replace('/10', '')
tv_shows["IMDb"] = pd.to_numeric(tv_shows["IMDb"]) * 10
tv_shows["Rotten Tomatoes"] = pd.to_numeric(tv_shows["Rotten Tomatoes"])

D:\Anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [76]:
tv_shows.head(10)

                        Title  Year  Age  IMDb  Rotten Tomatoes
0                Breaking Bad  2008   18  94.0              100
1             Stranger Things  2016   16  87.0               96
2             Attack on Titan  2013   18  90.0               95
3            Better Call Saul  2015   18  88.0               94
4                        Dark  2017   16  88.0               93
5  Avatar: The Last Airbender  2005    7  93.0               93
6              Peaky Blinders  2013   18  88.0               93
7            The Walking Dead  2010   18  82.0               93
8                Black Mirror  2011   18  88.0               92
9          The Queen's Gambit  2020   18  86.0               92

In [77]:
tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3207 entries, 0 to 5342
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            3207 non-null   object
 1   Year             3207 non-null   int64
 2   Age              3207 non-null   int32
 3   IMDb             3207 non-null   float64
 4   Rotten Tomatoes  3207 non-null   int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 137.8+ KB

In [78]:
tv_shows.to_csv('new_tv_shows.csv', index=False)

In [79]:
tv_shows['Title'].unique()

array(['Breaking Bad', 'Stranger Things', 'Attack on Titan', ...,
       "Howie Mandel's Animals Doing Things", 'The Big Fib',
       'Vampirina: Ghoul Girls Rock!'], dtype=object)